/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/****************HEADER SET ********************/
header {
    font-family: "Edu Tas Beginner", sans-serif;
    background-image: url(../img/wall.png);
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: sticky;
    top: 0;
    right:0; */
}

header h1 {
    font-size: 60px;
}
/**************FINISH HEADER SET***********/






/**************** MAIN SET ********************/
main {
    background-image: url(../img/cork.png);
    display: flex;
    justify-content: center;
    /* height: calc(100vh-150px); */
    /* overflow: auto; */
    padding-bottom: 55px;
}

/* CONTAINER DOVE ALL INTERNO ABBIAMO LE CARD CON TUTTE LE CARATTERISTICHE */
.container-all{
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    justify-content: center;
    gap: 2%;
    margin-top: 20px;
    margin-bottom: 10px;
}


/* CARD-TEXT-IMG- */
.card{
    width: 350px;
    background-color: white;
    margin-bottom: 10px;
    margin-top: 20px;
    /* border: 2px dotted black; */
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

/* RIVEDERE */
.card:hover{   
    transform: rotate(45deg);
    transition-delay: 80ms;
}

.card img{
    width: 100%;
    padding: 15px;
}

.container-text{
    padding: 0 15px;
    padding-bottom: 10px;
}


.container-text h4{
    font-family: "Edu Tas Beginner", sans-serif;
    font-size: 20px;
}

.container-text p{
    font-family: "Sometype Mono", "monospace";
    font-size: 15px;
    color: gray;
}

/**************FINISH MAIN SET***********/




/* PARTE MEDIA QUERY */